<!doctype html>
<html lang="en" ng-app="App">

<head>
    <title> X-TREME ZONE-Adventure-Park | best Adventure Park in Kodaikanal near madurai</title>
    <meta name="description" CONTENT="X-TREME ZONE-Adventure-Park is the best adventure park in Kodaikanal, X-TREME ZONE-Adventure-Park give you the best adrenaline-pumping activities.">
    <meta name="keywords" CONTENT="X-TREME ZONE-Adventure-Park, Best Adventure park in Kodaikanal near madurai, ATV quad bike ride, Bungee trampoline, Land Zorbing, Body Zorbing, Rope Courses, Zipline, Archery, Paint ball target Shooting, online booking facility available for any time.">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robot" CONTENT="index,follow">
    <meta name="refresh" CONTENT="60">
    <meta name="copyright" CONTENT="Copyright © 2019 Your Company. All Rights Reserved.">
    <meta name="author" CONTENT="X-TREME ZONE-Adventure-Park  |  Best adventure park  in kodaikanal near madurai.">
    <meta name="language" CONTENT="English">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-156190471-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-156190471-1');
    </script>

    <link rel="icon" href="img/favicon.png" type="image/png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="vendors/linericon/style.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="vendors/nice-select/css/nice-select.css">

    <!-- main css -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body ng-controller="enquiryCtrl">
    <!--================ Start Header Menu Area =================-->
    <header class="header_area">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="index.html"><img src="img/logo.png" alt="X-TREMEZONE-Adventure-Park-Kodaikanal" width="100%"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item "><a class="nav-link" href="index.html">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="about-us.html">About</a></li>
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Explore</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="atv.html">ATV</a></li>
                                    <li class="nav-item"><a class="nav-link" href="bungee.html">Bungee trampoline</a></li>
                                    <li class="nav-item"><a class="nav-link" href="land.html">Land Zorbing</a></li>
                                    <li class="nav-item"><a class="nav-link" href="body.html">Body Zorbing</a></li>
                                    <li class="nav-item"><a class="nav-link" href="rope.html">Rope Courses</a></li>
                                    <li class="nav-item"><a class="nav-link" href="zipline.html">Zipline</a></li>
                                    <li class="nav-item"><a class="nav-link" href="archery.html">Archery</a></li>
                                    <li class="nav-item"><a class="nav-link" href="paintballshooting.html">Paintball target shooting</a></li>
                                </ul>
                            </li>
                            <li class="nav-item "><a class="nav-link" href="adventures.html">Gallery</a></li>
                            <li class="nav-item "><a class="nav-link" href="book-trip.html">Booking</a></li>



                            <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
                        </ul>
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active ">
                                <a href="book-trip.html" class="primary-btn bg-dark">Book a trip</a>
                            </li>

                            <li class="nav-item">
                                <button type="button" class="search nav-link">
                                    <i class="lnr lnr-magnifier" id="search"></i>
                                </button>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>

            <!-- <div class="search_input" id="search_input_box">
                <div class="container">
                    <form class="d-flex justify-content-between">
                        <input type="text" class="form-control" id="search_input" placeholder="Search Here">
                        <button type="submit" class="btn"></button>
                        <span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
                    </form>
                </div>
            </div> -->
        </div>
    </header>
    <!--================ End Header Menu Area =================-->
    <!--================ End Header Menu Area =================-->

    <!--================Home Banner Area =================-->
    <section class="banner_area ">
        <div class="banner_inner overlay d-flex align-items-center">
            <div class="container">
                <div class="banner_content">
                    <div class="page_link">
                        <a href="index.html">Home</a>
                        <a href="book-trip.html">Book a Trip</a>
                    </div>
                    <h2>Book a Trip</h2>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================ Start Book a Trip Area =================-->
    <section class="trip-area section_gap" style="background-image: url(img/banner/bkbnr.jpg);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-md-10">
                    <div class="trip-form-section bg-white">
                        <h1 style="color:black;">
                            Book Your Adventure
                        </h1>
                        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSefoRte_LFm1nUE82nIeLuzTQPL1s31dCDOaLb4S3_iVQq3rA/viewform?embedded=true" width="100%" height="546" frameborder="0" marginheight="0" marginwidth="0">
                            Loading…</iframe>
                        <!-- <form class="contact-form cons-contact-form" name="enquiry_form" ng-submit="submitEnquiry(user)" role="form">
                            <div class="contact-one m-b30">
                                <div class="form-group  col-md-12">
                                    <input name="name" type="text" ng-model="user.name" autocomplete="off" required class="form-control" placeholder="Name">
                                </div>
                                <div class="form-group  col-md-12">
                                    <input name="email" ng-model="user.email" type="text" class="form-control" required placeholder="Email" ng-pattern="eml_add" autocomplete="off" id="eml">

                                </div>
                                <div class="form-group  col-md-12">
                                    <textarea name="mobile" ng-model="user.mobile" required placeholder="Your Mobile*" id="c_num" ng-pattern="ph_numbr" autocomplete="off" rows="1" class="form-control "></textarea>

                                </div>
                                <div class="form-group col-md-12">
                                    <div class="form-group">
                                        <input name="date" class="form-control" placeholder="Date*" ng-model="user.date" autocomplete="off">
                                    </div>
                                </div>
                                <div class="form-group  col-md-12">
                                    <input name="adventures" type="text" ng-model="user.adventures" autocomplete="off" required class="form-control" placeholder="Enter the Adventures">
                                </div>
                                <div class="form-group  col-md-12">
                                    <input name="Event" type="text" ng-model="user.Event" autocomplete="off" required class="form-control" placeholder=" Event Specialization">
                                </div>

                                <div class="form-group col-md-12">
                                    <div class="text-right">
                                        <button type="submit" class="form-control" ng-disabled="!user.name || !user.email || !user.mobile  || enquiry_form.$invalid">Submit</button>
                                    </div>
                                </div>
                        </form> -->
                        <!-- <form class="trip-form-area trip-page-form trip-form text-right" id="myForm" action="mail.html" method="post">
                            <div class="form-group col-md-12">
                                <div class="form-select">
                                    <select>
										<option value="1">Select Adventures</option>
                                        <option value="Atv">Atv Ride</option>
                                        <option value="Bungee-Trampoline">Bungee Trampoline</option>
                                        <option value="Land-Zorbing">Land Zorbing</option>
                                        <option value="Body-Zorbing">Body Zorbing</option>
                                        <option value="Rope Courses">Rope Courses</option>
                                        <option value="Zipline">Zipline</option>
										<option value="Archery">Archery</option>
                                        <option value="Paint-Ball-Target-Shooting">Paint Ball Target Shooting</option>
									</select>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <input type="text" class="form-control" id="name" name="name" placeholder="To" onfocus="this.placeholder = ''" onblur="this.placeholder = 'To'">
                            </div>
                            <div class="form-group col-md-12">
                                <input type="email" class="form-control" id="email" name="email" placeholder="From" onfocus="this.placeholder = ''" onblur="this.placeholder = 'From'">
                            </div>
                            <div class="form-group col-md-12">
                                <input type="text" class="form-control" id="subject" name="subject" placeholder="Return" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Return'">
                            </div>
                            <div class="form-group col-md-12">
                                <input type="text" class="form-control" id="subject" name="subject" placeholder="Adults" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Adults'">
                            </div>
                            <div class="form-group col-md-12">
                                <input type="text" class="form-control" id="subject" name="subject" placeholder="Child" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Child'">
                            </div>
                            <div class="col-lg-12 text-center">
                                <button class="primary-btn text-uppercase">Book Now</button>
                            </div>
                        </form> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End Book a Trip Area =================-->

    <!--================  start footer Area =================-->
    <footer class="footer-area" style="background-image: url(img/4.jpg);">
        <div class="footer_top section_gap_top">
            <div class="container" style="padding-top:90px;">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h5 class="footer_title">About Us</h5>
                            <p class="about-text">X-TREME ZONE-Adventure-Park is India’s largest Extreme Adventure park with 20 plus adventure activities. Experience the India’s only ATV ride, 5 kinds of zorbing and 700cc yamaha raptor ATV only at X-TREME ZONE-Adventure-Park,
                                Make sure you do not miss out adrenaline pumping adventure activities like Archery, Rocket Ejector, Motocross dirt bike riding, Buggy Ride, Paintball and Rappelling.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h5>Explore</h5>
                            <div class="row">
                                <div class="col-5">
                                    <ul class="list">
                                        <li><a href="atv.html">ATV</a></li>
                                        <li><a href="bungee.html">Bungee trampoline</a></li>
                                        <li><a href="land.html">Land Zorbing</a></li>
                                        <li><a href="body.html">Body Zorbing</a></li>
                                    </ul>
                                </div>
                                <div class="col-5">
                                    <ul class="list">
                                        <li><a href="rope.html">Rope Courses</a></li>
                                        <li><a href="zipline.html">Zipline</a></li>
                                        <li><a href="archery.html">Archery</a></li>
                                        <li><a href="paintballshooting.html">Paintball target shooting</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h5 class="footer_title">Navigation Links</h5>
                            <div class="row">
                                <div class="col-5">
                                    <ul class="list">
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="about-us.html">About Us</a></li>
                                        <li><a href="adventures.html">Gallery</a></li>
                                        <li><a href="book-trip.html">Booking</a></li>
                                        <li><a href="#">contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3  col-md-3 col-sm-6">
                        <div class="single-footer-widget mail-chimp">
                            <h5 class="mb-20">Locate Us</h5>
                            <p>
                                <i class="lnr lnr-home text-white"></i>&nbsp;&nbsp;&nbsp;&nbsp;Xtreme Zone ( Adventure Park ),
                                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4-17-70, Woody's Resort Campus,
                                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Convent Rd,
                                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;near Fire Service Station,
                                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kodaikanal,
                                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tamil Nadu 624101.</p>
                            <p>
                                <i class="lnr lnr-envelope text-white">
                                </i> &nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="mailto:admin@e7adventures.in" class="text-white">
                                    admin@e7adventures.in
                                </a>
                            </p>
                            <p>
                                <i class="lnr lnr-phone-handset text-white">
                                </i> &nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="tel:+918473024599" class="text-white">
                                      +918473024599
                                </a>
                            </p>
                            <br>
                            <a href="https://www.google.com/maps/place/Xtreme+Zone+(Adventure+Park)/@10.231673,77.478789,18z/data=!4m5!3m4!1s0x0:0x28e4e7882f811a5d!8m2!3d10.2316732!4d77.4787886?hl=en" target="_blank"><img src="img/locate-us.png"></a>
                            <!-- <img src="img/banner/e7.png" width="100%"> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <p>
                            Copyright &copy; All rights reserved | by e7adventures.in
                        </p>
                    </div>
                    <div class="col-lg-6 col-md-12 text-right">
                        <div class="social-icons">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-behance"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--================ End Footer Area =================-->
    <script src="js/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/stellar.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="js/owl-carousel-thumb.min.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/mail-script.js"></script>
    <!--gmaps Js-->

    <script src="js/gmaps.min.js"></script>
    <script src="js/theme.js"></script>
</body>

</html>
